/* 
    General Styles used on every website (Don't Repeat Yourself)
*/


body {
    background-color: #272B51;
    font-family: 'Rajdhani', sans-serif;
}

.blue {
    background-color: #272B51;
}

.yellow {
    color: #ebaa15;
}

.border-product {
    border-radius: 33px 33px 33px 33px;
    -moz-border-radius: 33px 33px 33px 33px;
    -webkit-border-radius: 33px 33px 33px 33px;
    border: 3px solid #ebaa15;
}

.logo {
    height: 10vh;
}

.navigationbar {
    background-color: #272B51;
    width: 100%;
}

.scrollmenu {
    background-color: #272B51;
    overflow: auto;
    white-space: nowrap;
}

.scrollmenu p {
    display: inline-block;
    text-align: center;
    padding: 14px;
    padding-inline: 30px;
}
p a {
    color: #ebaa15;
    text-decoration: none;

}
p a:hover {
    color: #ad7a02;
}
.border-none {
    border: none;
}
.details-foto{
    width: 350px;
}