
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Rajdhani', sans-serif;
}





.border-product {
    border-radius: 33px 33px 33px 33px;
    -moz-border-radius: 33px 33px 33px 33px;
    -webkit-border-radius: 33px 33px 33px 33px;
    border: 3px solid #ebaa15;
}

.border-cart {
    border-radius: 33px 33px 33px 33px;
    -moz-border-radius: 33px 33px 33px 33px;
    -webkit-border-radius: 33px 33px 33px 33px;
    border: 3px solid #ebaa15;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.logo {
  
  width: 150px;
    
    
}




.scrollmenu p {
    display: inline-block;
    text-align: center;
    padding: 14px;
    padding-inline: 30px;
}

p a {
    color: #6d6c6b;
    text-decoration: none;

}

p a:hover {
    color:#6d6c6b;
}
.border-none {
    border: none;
}

.details-foto {
    width: 350px;
}

.carrito-foto {
    width: 200px;
}
.imagen {
    border-radius: 6% 6% 0 0;
}

